@model FinalProject.Models.Entities.Course
<link rel="stylesheet" href="~/css/style.css">

<style>
    h2 {
        color: white;
    }

    p {
        color: white;
    }

    .btn-secondary {
        background-color: dodgerblue
    }

    dd {
        color: white;
    }

    dt {
        color: white;
    }

</style>

<h2>Delete Course</h2>

<p>Are you sure you want to delete the course "<strong>@Model.CourseName</strong>"?</p>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassMeetingDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassMeetingDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DifficultyLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseColor)
        </dd>
    <dt class="col-sm-2" style="display: none;>
            @Html.DisplayNameFor(model => model.user)
        </dt>
    <dd class="col-sm-10" style="display: none;>
            @Html.DisplayFor(model => model.user.Id)
        </dd>
    <dt class="col-sm-2" style="display: none;>
            @Html.DisplayNameFor(model => model.schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.schedule.ScheduleDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
