@model IEnumerable<FinalProject.Models.Entities.Schedule>

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<style>
    h2{
        color:white;
    }
</style>
<h2>Your Schedules</h2>
<p>
    <a asp-action="Create" class="circular-add-button">+</a>
</p>
    @foreach (var item in Model){
        <br />
<section class="tiles-container">
<div class="tile-schedule">

        <p>Title: @item.Title</p>
        <p>Description: @item.ScheduleDescription</p>
        <p>Start: @item.StartDateTime</p>
        <p>End: @item.EndDateTime</p>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
    
</div>        
</section>
    }

